.about {
  margin: 0 4vw 60px; }
  @media (min-device-width: 769px) {
    .about {
      width: 750px;
      margin: auto; } }
  .about__intro {
    font-size: 24px;
    margin-bottom: 50px; }
  @media (min-device-width: 769px) {
    .about__main-part {
      width: 600px;
      margin: auto; } }
  .about__inner-block {
    margin-bottom: 50px; }
  .about__outer-block {
    margin-bottom: 70px; }
  .about__avatars {
    margin: 60px 0; }
  .about__avatar {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 10px; }
  .about__bender {
    height: 123px; }
  .about__employees {
    font-size: 28px;
    font-family: Lobster, cursive;
    margin: 50px 0;
    padding: 50px 20px;
    border-top: 2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6; }
  .about__employee-header {
    margin-top: 70px; }

.book__content {
  -webkit-animation: appearance 2s linear 1;
          animation: appearance 2s linear 1;
  position: relative; }
@-webkit-keyframes appearance {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes appearance {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.book__book-info {
  font-size: 24px;
  padding: 40px 0 60px; }
  @media (min-device-width: 380px) {
    .book__book-info {
      width: 350px;
      margin: auto; } }
  @media (min-device-width: 769px) {
    .book__book-info {
      width: 320px; } }
.book__img-cover {
  box-shadow: 3px 3px 15px #827f7f; }
  .book__img-cover-large {
    width: 80vw; }
    @media (min-device-width: 380px) {
      .book__img-cover-large {
        width: 300px; } }
.book__img-wrap {
  position: relative;
  margin: auto; }
  .book__img-wrap-small {
    height: 300px;
    width: 210px; }
  .book__img-wrap-large {
    width: 80vw; }
    @media (min-device-width: 380px) {
      .book__img-wrap-large {
        width: 300px; } }
.book__eye-wrap {
  display: block;
  position: absolute;
  top: 60vw;
  left: 30vw;
  width: 20vw;
  height: 20vw;
  -webkit-animation: appearance 3s ease-in-out 1;
          animation: appearance 3s ease-in-out 1; }
  @media (min-device-width: 380px) {
    .book__eye-wrap {
      width: 70px;
      height: 70px;
      top: 250px;
      left: 115px; } }
.book__eye-contour {
  position: relative;
  width: 20vw;
  height: 20vw;
  background: black;
  border-radius: 10vw; }
  @media (min-device-width: 380px) {
    .book__eye-contour {
      width: 70px;
      height: 70px;
      border-radius: 35px; } }
.book__eye-white {
  position: absolute;
  top: 1vw;
  left: 1vw;
  width: 18vw;
  height: 18vw;
  background: white;
  border-radius: 9vw;
  z-index: 10; }
  @media (min-device-width: 380px) {
    .book__eye-white {
      width: 64px;
      height: 64px;
      border-radius: 32px;
      top: 3px;
      left: 3px;
      -webkit-animation: blink 5s linear infinite;
              animation: blink 5s linear infinite; }
    @-webkit-keyframes blink {
      0% {
        border-radius: 32px/30px;
        height: 64px;
        top: 3px; }
      5% {
        border-radius: 32px/10px;
        height: 32px;
        top: 20px; }
      10% {
        border-radius: 32px/1px;
        top: 35px;
        height: 0; }
      15% {
        border-radius: 32px/10px;
        height: 32px;
        top: 20px; }
      20% {
        border-radius: 32px/30px;
        height: 64px;
        top: 3px; }
      100% {
        border-radius: 32px/30px;
        height: 64px;
        top: 3px; } }
    @keyframes blink {
      0% {
        border-radius: 32px/30px;
        height: 64px;
        top: 3px; }
      5% {
        border-radius: 32px/10px;
        height: 32px;
        top: 20px; }
      10% {
        border-radius: 32px/1px;
        top: 35px;
        height: 0; }
      15% {
        border-radius: 32px/10px;
        height: 32px;
        top: 20px; }
      20% {
        border-radius: 32px/30px;
        height: 64px;
        top: 3px; }
      100% {
        border-radius: 32px/30px;
        height: 64px;
        top: 3px; } } }
.book__eye-pupil {
  position: absolute;
  top: 8.5vw;
  left: 8.5vw;
  width: 3vw;
  height: 3vw;
  border-radius: 1.5vw;
  background: black;
  z-index: 100; }
  @media (min-device-width: 380px) {
    .book__eye-pupil {
      height: 8px;
      width: 8px;
      border-radius: 4px;
      top: 31px;
      left: 31px; } }
.book__ribbon {
  display: block;
  background: url(../imgs/ribbon-grey.png) no-repeat;
  background-size: contain;
  position: absolute;
  width: 17px;
  height: 30px;
  bottom: -25px;
  left: 20px;
  cursor: pointer; }
.book__block {
  width: 290px;
  margin: 0 auto 60px auto;
  display: inline-block;
  vertical-align: top; }
  @media (min-device-width: 769px) {
    .book__block {
      display: block;
      width: 20vw; } }
@media (min-device-width: 769px) {
  .book__features-wrap {
    position: absolute;
    left: 0;
    top: 0; } }
@media (min-device-width: 1000px) {
  .book__features-wrap {
    margin-left: 5vw; } }
.book__features-title {
  margin: 25px 0; }
@media (min-device-width: 769px) {
  .book__reviews-wrap {
    position: absolute;
    right: 0;
    top: 0; } }
@media (min-device-width: 1000px) {
  .book__reviews-wrap {
    margin-right: 5vw; } }
.book__reviews-title {
  margin: 25px 0; }
.book__cover {
  margin: auto;
  padding-bottom: 25px; }
  @media (min-device-width: 769px) {
    .book__cover {
      width: 180px; } }
.book__title {
  margin: auto;
  padding: 0 10px 0;
  font-size: 21px; }
  @media (min-device-width: 769px) {
    .book__title {
      padding: 0; } }
.book__buy-button {
  display: block;
  background: #623c64;
  box-shadow: 3px 3px 10px #827f7f;
  padding: 20px 10px;
  color: white;
  font-size: 24px;
  margin: 0 auto 30px auto;
  border-radius: 20px;
  border: none; }
  .book__buy-button:hover {
    background: -webkit-linear-gradient(top, #845886, #623c64);
    background: linear-gradient(to bottom, #845886, #623c64); }
  .book__buy-button:active {
    background: #623c64;
    box-shadow: none;
    outline: none; }
.book__price-text {
  font-size: 15px;
  font-style: italic;
  color: #d6d6d6;
  margin: auto;
  padding: 0 10px 10px;
  width: 300px; }
  @media (min-device-width: 769px) {
    .book__price-text {
      width: 320px; } }
.book__scraffi {
  background: url("../imgs/skraffi.png") no-repeat;
  background-size: contain;
  height: 70px;
  width: 70px;
  margin: auto;
  padding-bottom: 20px; }
.book__about {
  background: url("../imgs/bender.png") no-repeat;
  background-size: contain;
  height: 194px;
  width: 300px;
  margin: 60px auto 0 auto; }
  @media (min-device-width: 1366px) {
    .book__about {
      margin-top: 100px; } }
.book__about-wrap {
  width: 300px;
  display: block;
  margin: auto; }

.booklist__drop-text {
  display: none; }
  @media (min-device-width: 1366px) {
    .booklist__drop-text {
      display: block;
      text-align: center;
      font: 19px Arial, sans-serif;
      width: 50%;
      margin: 0 auto 50px auto; } }
.booklist__book-wrap {
  position: relative;
  display: inline-block;
  width: 280px;
  padding: 0 3vw;
  margin: 0 auto 60px auto;
  vertical-align: top; }
  @media (min-device-width: 1366px) {
    .booklist__book-wrap {
      padding: 0 0.5vw;
      margin-bottom: 50px; } }
.booklist__cover-small {
  box-shadow: 3px 3px 15px #827f7f; }
  .booklist__cover-small:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    box-shadow: 8px 8px 15px #827f7f; }
.booklist__info {
  font-size: 21px;
  padding-top: 20px; }
  @media (min-device-width: 1366px) {
    .booklist__info {
      padding-top: 30px; } }
.booklist__ribbon {
  background-image: url(../imgs/ribbon-grey.png);
  background-size: contain;
  position: absolute;
  width: 14px;
  height: 24px;
  top: 298px;
  left: 70px;
  z-index: -10; }
.booklist__more-button {
  display: block;
  color: #4285be;
  border: 2px #96c2e4 solid;
  border-radius: 8px;
  padding: 10px 55px;
  margin: 0 auto 0 auto;
  background-color: #ffffff;
  font-size: 17px;
  font-family: Arial, sans-serif; }
  .booklist__more-button:hover {
    color: #E51907;
    border-color: #E51907; }
  .booklist__more-button:active {
    color: #E51907;
    border-color: #E51907; }

.container {
  position: relative;
  font-family: Arial, sans-serif;
  padding: 40px 5px 0;
  text-align: center; }
  @media (min-device-width: 769px) {
    .container {
      padding: 60px 40px 0; } }
  @media (min-device-width: 1366px) {
    .container {
      padding: 80px 60px 0; } }

.currency {
  margin: 0 auto 40px; }
  .currency-select, .currency-label {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 19px; }
  @media (min-width: 600px) {
    .currency {
      position: absolute;
      top: 10px;
      right: 30px; } }
  @media (min-device-width: 769px) {
    .currency {
      top: 20px;
      right: 50px; } }
  @media (min-device-width: 1366px) {
    .currency {
      top: 30px;
      right: 70px; } }

.head-wrap {
  margin-bottom: 40px;
  position: relative; }
  @media (min-width: 620px) {
    .head-wrap {
      height: 40px; } }
  @media (min-device-width: 1366px) {
    .head-wrap {
      margin-bottom: 60px; } }

.head {
  position: relative;
  font-size: 8vw;
  font-weight: bold;
  padding: 0 10px;
  margin-bottom: 40px; }
  @media (min-width: 600px) {
    .head {
      font-size: 38px; } }
  @media (min-device-width: 1366px) {
    .head {
      margin-bottom: 50px; } }

.logo {
  background: url("../imgs/logo.png") no-repeat;
  background-size: contain;
  height: 35px;
  width: 300px;
  display: inline-block;
  margin-bottom: 40px; }
  @media (min-device-width: 769px) {
    .logo {
      position: absolute;
      left: 0; } }

.search {
  position: relative;
  height: 34px;
  width: 300px;
  display: inline-block;
  vertical-align: top; }
  @media (min-device-width: 769px) {
    .search {
      position: absolute;
      right: 0; } }

.search-input {
  position: relative;
  width: 253px;
  height: 30px;
  border-radius: 20px;
  border: 0.5px solid #b3b3b3 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset -10px 0 6px white;
  vertical-align: top;
  color: #b3b3b3;
  font-size: 17px;
  padding-left: 25px;
  z-index: 10;
  background: transparent; }
  .search-input:focus {
    outline: none; }

.search-box {
  position: relative;
  width: 275px;
  height: 34px;
  margin: 0 auto; }

.search-text {
  display: inline;
  width: 250px;
  height: 20px;
  text-align: left;
  position: absolute;
  top: 6px;
  left: 25px;
  color: #b3b3b3;
  font-size: 17px;
  z-index: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.laupe {
  position: absolute;
  top: 5px;
  left: 5px;
  background: url("../imgs/search.png") no-repeat;
  background-size: contain;
  height: 18px;
  width: 19px; }

.preload {
  font-family: Arial, sans-serif;
  font-size: 19px;
  margin: 40px auto;
  color: #b3b3b3; }

.about-wrap {
  width: 300px;
  display: block;
  margin: auto; }

.about-img {
  background: url("../imgs/bender.png") no-repeat;
  background-size: contain;
  height: 194px;
  width: 300px;
  margin: 60px auto 0 auto; }
  @media (min-device-width: 1366px) {
    .about-img {
      margin-top: 100px; } }

.purchase input[type=number]::-webkit-inner-spin-button,
.purchase input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }
.purchase__content {
  display: block;
  position: relative;
  margin: 0 15px;
  font-size: 19px; }
.purchase__header {
  font-size: 24px;
  margin-bottom: 30px; }
.purchase__label {
  padding: 10px 0; }
  @media (min-device-width: 769px) {
    .purchase__label {
      text-align: left; } }
.purchase__input {
  padding: 5px;
  width: 270px;
  font-size: 19px;
  color: black;
  border: 2px solid black; }
  .purchase__input::-webkit-input-placeholder::-moz-placeholder {
    color: #b3b3b3; }
.purchase__item {
  font-size: 19px;
  padding: 5px 0; }
.purchase__li-input {
  margin-right: 10px; }
.purchase__col {
  display: inline-block;
  vertical-align: top;
  margin: 15px; }
  .purchase__col-3 {
    padding: 30px 0; }
.purchase__comment-textarea {
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 19px;
  height: 120px;
  width: 270px;
  border: 2px solid black; }
.purchase__order-button {
  font-size: 19px;
  background-color: #d6d6d6;
  padding: 10px 50px;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer; }
  .purchase__order-button:disabled {
    border-color: #d6d6d6; }
  .purchase__order-button:active {
    outline: none; }
.purchase__validation-error {
  text-align: left;
  color: #E51907;
  font-size: 14px;
  margin-top: 5px;
  -webkit-animation: fade 2s ease-out 1;
          animation: fade 2s ease-out 1; }
@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.purchase__order {
  font-size: 24px;
  padding: 60px 10px 0;
  line-height: 40px; }
  .purchase__order-error {
    display: block;
    color: #E51907; }
.purchase__preload {
  display: block;
  padding-top: 60px;
  color: #b3b3b3;
  font-size: 19px; }

body {
  margin: 0; }

a {
  cursor: pointer;
  color: black;
  text-decoration: none; }

button {
  cursor: pointer; }

u {
  color: #4283c0; }
  u:hover {
    color: #E51907; }

h1 {
  font-size: 32px;
  text-align: left;
  margin: 0 0 30px; }

h2 {
  font-size: 24px;
  text-align: left;
  margin: 0 0 30px; }

ul {
  padding: 0; }

li {
  list-style-type: none;
  font-size: 19px;
  text-align: left; }

p {
  font-size: 19px;
  margin: 0 0 30px;
  text-align: left; }
