@import '../../styles/vars'

.purchase
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-inner-spin-button
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		margin: 0

	&__content
		display: block
		position: relative
		margin: 0 15px
		font-size: $font-base

	&__header
		font-size: $font-mid
		margin-bottom: 30px

	&__label
		padding: 10px 0
		@include media-tablet
			text-align: left

	&__input
		padding: 5px
		width: 270px
		font-size: $font-base
		color: black
		border: 2px solid black
		&::-webkit-input-placeholder::-moz-placeholder
			color: $color-grey

	&__item
		font-size: $font-base
		padding: 5px 0

	&__li-input
		margin-right: 10px

	&__col
		display: inline-block
		vertical-align: top
		margin: 15px
		&-3
			padding: 30px 0

	&__comment-textarea
		padding: 5px
		font-family: $arial
		font-size: $font-base
		height: 120px
		width: 270px
		border: 2px solid black

	&__order-button
		font-size: $font-base
		background-color: $color-light-grey
		padding: 10px 50px
		border: 3px solid black
		border-radius: 10px
		cursor: pointer
		&:disabled
			border-color: $color-light-grey
		&:active
			outline: none

	&__validation
		&-error
			text-align: left
			color: $color-red
			font-size: 14px
			margin-top: 5px
			animation: fade 2s ease-out 1
			@keyframes fade
				0%
					opacity: 0
				100%
					opacity: 1

	&__order
		font-size: $font-mid
		padding: 60px 10px 0
		line-height: 40px
		&-error
			display: block
			color: $color-red

	&__preload
		display: block
		padding-top: 60px
		color: $color-grey
		font-size: $font-base