<div class="purchase" ng-controller="PurschaseCtrl">
    <div class="head">Мы издаем книги — вы их можете не читать</div>
    <div class="preload" ng-if="purchaseLoading">Загружаю...</div>
    <div class="purchase__preload" ng-if="purchaseSending">Отправляю...</div>

    <div class="purchase__order-success purchase__order" ng-if="purchaseSuccess">
        Заказ на книгу <u>{{book.title}}</u> успешно оформлен! <br> Спасибо за бездарно потраченные деньги!
    </div>
    <div class="purchase__order-error purchase__order" ng-if="purchaseError">Упс... Конечно же, что-то пошло не так</div>

    <form name="userOrder" class="purchase__content" ng-if="!purchaseLoading && !purchaseSending && !purchaseSuccess && !purchaseError">
        <div class="purchase__header">Оформить заказ на книгу <u>{{book.title}}</u></div>

        <div class="purchase__col purchase__col-1">

            <div class="purchase__name">
                <div class="purchase__name-label purchase__label">Имя:</div>
                <input class="purchase__name-input purchase__input"
                       type="text"
                       name="name"
                       ng-model="order.name"
                       placeholder="Имя"
                       required>
                <div class="purchase__validation-error" ng-show="userOrder.name.$error.required">Введите имя</div>
            </div>

            <div class="purchase__phone">
                <div class="purchase__label">Телефон:</div>
                <input class="purchase__input"
                       type="number"
                       name="phone"
                       ng-model="order.phone"
                       placeholder="Телефон"
                       required>
                <div class="purchase__validation-error"
                     ng-show="userOrder.phone.$error.required && !userOrder.name.$error.required">
                    Введите номер телефона, используя<br>цифры/знак тире.
                    Можете ввести<br>несколько номеров через запятую
                </div>
            </div>

            <div class="purchase__email">
                <div class="purchase__label">Электронный адрес:</div>
                <input class="purchase__input"
                       type="email"
                       name="email"
                       ng-model="order.email"
                       placeholder="Электронный адрес"
                       required>
                <div class="purchase__validation-error"
                     ng-show="userOrder.email.$error.required
                        && !userOrder.phone.$error.required
                        && !userOrder.name.$error.require">
                    Введите электронный адрес
                </div>
            </div>

            <div class="purchase__delivery">
                <div class="purchase__label">Способ доставки:</div>
                <div class="purchase__delivery-method-list">
                    <li class="purchase__item" ng-repeat="delivery in delMethods">
                        <input class="purchase__li-input"
                               name="delivery"
                               type="radio"
                               value="{{delivery.id}}"
                               ng-model="order.deliveryId"
                               ng-click="
                                    checkNeedAddress($event);
                                    calcSum(delivery.convertedPrice);
                                    giveSelectedDelivery(delivery)"
                               required>
                            {{delivery.name}} - {{delivery.convertedPrice}} {{currentCurrency.CharCode}}
                        </input>
                    </li>
                </div>
                <div class="purchase__validation-error"
                     ng-show="userOrder.delivery.$error.required
                        && !userOrder.name.$error.required
                        && !userOrder.phone.$error.required
                        && !userOrder.email.$error.require">
                    Выберете способ доставки
                </div>
            </div>

        </div>

        <div class="purchase__col purchase__col-2">

            <div class="purchase__address" ng-if="needAdress">
                <div ng-if="true">
                    <div class="purchase__label">Адрес для доставки:</div>
                    <input class="purchase__input"
                           type="text"
                           name="address"
                           ng-model="order.address"
                           placeholder="Адрес"
                           required>
                </div>
                <div class="purchase__validation-error"
                     ng-show="userOrder.address.$error.required
                        && !userOrder.name.$error.required
                        && !userOrder.phone.$error.required
                        && !userOrder.email.$error.required
                        && !userOrder.delivery.$error.required">
                    Введите адрес
                </div>
            </div>

            <div class="comment">
                <div class="purchase__label">Комментарий к заказу:</div>
                <textarea class="purchase__comment-textarea"
                          ng-model="order.comment"
                          name="comment"
                          placeholder="Комментарий"
                          required>
                </textarea>
                <div class="purchase__validation-error"
                     ng-show="userOrder.comment.$error.required
                            && !userOrder.name.$error.required
                            && !userOrder.phone.$error.required
                            && !userOrder.email.$error.required
                            && !userOrder.delivery.$error.required
                            && !userOrder.address.$error.required">
                    Напишите комментарий к заказу
                </div>
            </div>

            <div class="purchase__payment">
                <div class="purchase__label">Способ оплаты:</div>
                <div class="purchase__payment-method-list">
                    <li  class="purchase__item" ng-repeat="payment in payMethods">
                        <input class="purchase__li-input"
                               name="payment"
                               type="radio"
                               value="{{payment.id}}"
                               ng-model="order.paymentId"
                               required>
                            {{payment.title}}
                        </input>
                    </li>
                </div>
                <div class="purchase__validation-error"
                     ng-show="userOrder.payment.$error.required
                        && !userOrder.name.$error.required
                        && !userOrder.phone.$error.required
                        && !userOrder.email.$error.required
                        && !userOrder.delivery.$error.required
                        && !userOrder.address.$error.required
                        && !userOrder.comment.$error.required">
                    Выберетe способ оплаты
                </div>
            </div>
        </div>

        <div class="purchase__col purchase__col-3">
            <img class="purchase__cover" ng-src="{{book.cover.small}}">
        </div>

        <div class="purchase__sum purchase__header">Итого к оплате: {{sum}} {{currentCurrency.CharCode}}</div>
        <input type="submit" class="purchase__order-button" ng-disabled="userOrder.$invalid" ng-click="sendOrder(order)" value="Оформить заказ">
    </form>
</div>