<div class="booklist" ng-controller="BookListCtrl" data-drop="true">
    <div class="head">Самое незаметное издательство</div>
    <div class="booklist__drop-text">Перетаскивайте книги ниже с места на место. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится.</div>
    <div class="preload" ng-if="bookListLoading">Загружаю...</div>
    <div class="booklist__book-wrap"
         ng-repeat="book in bookList |  limitTo: limit : begin | filter:search"
         ng-model="filteredBookList">
        <a ui-sref="app.book({bookId: book.id})">
            <img class="booklist__cover-small" ng-src="{{book.cover.small}}" alt="{{book.title}}">
            <div class="booklist__ribbon"></div>
            <div class="booklist__info" ng-bind-html="sce.trustAsHtml(book.info)">{{book.info}}</div>
        </a>
    </div>
    <button class="booklist__more-button" ng-if="!bookListLoading" ng-click="showMore()">Еще несколько книг</button>
</div>