@import '../../styles/vars'

.booklist
	&__drop-text
		display: none
		@include media-desktop
			display: block
			text-align: center
			font: $font-base $arial
			width: 50%
			margin: 0 auto 50px auto

	&__book-wrap
		position: relative
		display: inline-block
		width: 280px
		padding: 0 3vw
		margin: 0 auto 60px auto
		vertical-align: top
		@include media-desktop
			padding: 0 0.5vw
			margin-bottom: 50px

	&__cover-small
		box-shadow: 3px 3px 15px $color-shadow
		&:hover
			transform: scale(1.2)
			box-shadow: 8px 8px 15px $color-shadow

	&__info
		font-size: $font-small
		padding-top: 20px
		@include media-desktop
			padding-top: 30px

	&__ribbon
		background-image: url(../imgs/ribbon-grey.png)
		background-size: contain
		position: absolute
		width: 14px
		height: 24px
		top: 298px
		left: 70px
		z-index: -10

	&__more-button
		display: block
		color: #4285be
		border: 2px #96c2e4 solid
		border-radius: 8px
		padding: 10px 55px
		margin: 0 auto 0 auto
		background-color: #ffffff
		font-size: 17px
		font-family: $arial
		&:hover
			color: $color-red
			border-color: $color-red
		&:active
			color: $color-red
			border-color: $color-red