<div class="book" ng-controller="BookCtrl">
    <div class="head">Мы издаем книги — вы их можете не читать</div>
    <div class="preload" ng-if="bookLoading">Загружаю...</div>

    <div class="book__content">
        <div class="book__img-wrap book__img-wrap-large">
            <img class="book__img-cover book__img-cover-large" ng-src="{{book.cover.large}}" alt="{{book.title}}">
            <div class="book__eye-wrap" ng-if="!bookLoading">
                <div class="book__eye-contour">
                    <div class="book__eye-crescent-upper"></div>
                    <div class="book__eye-crescent-lower"></div>
                </div>
                <div class="book__eye-white"></div>
                <div class="book__eye-pupil"></div>
            </div>
            <div class="book__ribbon" ng-if="!bookLoading" ng-click="toggleRibbon()"></div>
        </div>

        <div class="book__book-info" ng-bind-html="sce.trustAsHtml(book.info)">{{book.info}}</div>

        <div class="book__reviews-wrap">
            <div class="book__reviews book__block" ng-repeat="review in book.reviews">
                <img class="book__reviews-cover book__cover" ng-src="{{review.author.pic}}" alt="{{review.author.author}}">
                <div class="book__reviews-cite book__title">{{review.cite}}</div>
            </div>
        </div>

        <div class="book__features-wrap">
            <div class="book__features book__block" ng-repeat="feature in book.features">
                <img class="book__features-cover book__cover" ng-src="{{feature.pic}}">
                <div class="book__features-title book__title">{{feature.title}}</div>
            </div>
        </div>
    </div>

    <button class="book__buy-button"
            ui-sref="app.purchase({bookId: book.id})"
            ng-if="!bookLoading">
        Купить за жалкие {{bookPrice}} {{currentCurrency.CharCode}}
    </button>
    <div class="book__price-text">Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи</div>
    <div class="book__scraffi"></div>
</div>