@import '../../styles/vars'

.book
	&__content
		animation: appearance 2s linear 1
		position: relative
		@keyframes appearance
			0%
				opacity: 0
			100%
				opacity: 1

	&__book-info
		font-size: $font-mid
		padding: 40px 0 60px
		@media (min-device-width: 380px)
			width: 350px
			margin: auto
		@include media-tablet
			width: 320px

	&__img-cover
		box-shadow: 3px 3px 15px $color-shadow
		&-large
			width: 80vw
			@media (min-device-width: 380px)
				width: 300px

	&__img-wrap
		position: relative
		margin: auto
		&-small
			height: 300px
			width: 210px
		&-large
			width: 80vw
			@media (min-device-width: 380px)
				width: 300px

	&__eye
		&-wrap
			display: block
			position: absolute
			top: 60vw
			left: 30vw
			width: 20vw
			height: 20vw
			animation: appearance 3s ease-in-out 1
			@media (min-device-width: 380px)
				width: 70px
				height: 70px
				top: 250px
				left: 115px

		&-contour
			position: relative
			width: 20vw
			height: 20vw
			background: black
			border-radius: 10vw
			@media (min-device-width: 380px)
				width: 70px
				height: 70px
				border-radius: 35px

		&-white
			position: absolute
			top: 1vw
			left: 1vw
			width: 18vw
			height: 18vw
			background: white
			border-radius: 9vw
			z-index: 10
			@media (min-device-width: 380px)
				width: 64px
				height: 64px
				border-radius: 32px
				top: 3px
				left: 3px
				animation: blink 5s linear infinite
				@keyframes blink
					0%
						border-radius: 32px/30px
						height: 64px
						top: 3px
					5%
						border-radius: 32px/10px
						height: 32px
						top: 20px
					10%
						border-radius: 32px/1px
						top: 35px
						height: 0
					15%
						border-radius: 32px/10px
						height: 32px
						top: 20px
					20%
						border-radius: 32px/30px
						height: 64px
						top: 3px
					100%
						border-radius: 32px/30px
						height: 64px
						top: 3px

		&-pupil
			position: absolute
			top: 8.5vw
			left: 8.5vw
			width: 3vw
			height: 3vw
			border-radius: 1.5vw
			background: black
			z-index: 100
			@media (min-device-width: 380px)
				height: 8px
				width: 8px
				border-radius: 4px
				top: 31px
				left: 31px

	&__ribbon
		display: block
		background: url(../imgs/ribbon-grey.png) no-repeat
		background-size: contain
		position: absolute
		width: 17px
		height: 30px
		bottom: -25px
		left: 20px
		cursor: pointer

	&__block
		width: 290px
		margin: 0 auto 60px auto
		display: inline-block
		vertical-align: top
		@include media-tablet
			display: block
			width: 20vw

	&__features
		&-wrap
			@include media-tablet
				position: absolute
				left: 0
				top: 0
			@media (min-device-width: 1000px)
				margin-left: 5vw

		&-title
			margin: 25px 0

	&__reviews
		&-wrap
			@include media-tablet
				position: absolute
				right: 0
				top: 0
			@media (min-device-width: 1000px)
				margin-right: 5vw

		&-title
			margin: 25px 0

	&__cover
		margin: auto
		padding-bottom: 25px
		@include media-tablet
			width: 180px

	&__title
		margin: auto
		padding: 0 10px 0
		font-size: $font-small
		@include media-tablet
			padding: 0

	&__buy-button
		display: block
		background: #623c64
		box-shadow: 3px 3px 10px $color-shadow
		padding: 20px 10px
		color: white
		font-size: $font-mid
		margin: 0 auto 30px auto
		border-radius: 20px
		border: none
		&:hover
			background: linear-gradient(to bottom, #845886, #623c64)
		&:active
			background: #623c64
			box-shadow: none
			outline: none

	&__price-text
		font-size: $font-extra-small
		font-style: italic
		color: $color-light-grey
		margin: auto
		padding: 0 10px 10px
		width: 300px
		@include media-tablet
			width: 320px

	&__scraffi
		@include backgrnd('../imgs/skraffi.png', contain)
		height: 70px
		width: 70px
		margin: auto
		padding-bottom: 20px

	&__about
		@include backgrnd('../imgs/bender.png', contain)
		height: 194px
		width: 300px
		margin: 60px auto 0 auto
		@include media-desktop
			margin-top: 100px

	&__about-wrap
		width: 300px
		display: block
		margin: auto