@import '../../styles/vars'

.about
	margin: 0 4vw 60px
	@include media-tablet
		width: 750px
		margin: auto

	&__intro
		font-size: $font-mid
		margin-bottom: 50px

	&__main-part
		@include media-tablet
			width: 600px
			margin: auto

	&__inner-block
		margin-bottom: 50px

	&__outer-block
		margin-bottom: 70px

	&__avatars
		margin: 60px 0

	&__avatar
		height: 100px
		width: 100px
		display: inline-block
		margin: 10px

	&__bender
		height: 123px

	&__employees
		font-size: 28px
		font-family: $als
		margin: 50px 0
		padding: 50px 20px
		border-top: 2px solid $color-light-grey
		border-bottom: 2px solid $color-light-grey

	&__employee-header
		margin-top: 70px