<div class="container" ng-controller="HeaderCtrl" ng-mousemove="onMouseMove($event)">
    <div class="currency">
        <div class="currency-label">Валюта:</div>
        <select class="currency-select"
                ng-model="currentCurrency"
                ng-options="currency as currency.CharCode for currency in currencyList">
            <option value="" selected hidden></option>
            <option class="currency-option"></option>
        </select>
    </div>
    <div class="head-wrap">
        <a class="logo" ui-sref="app.booklist"></a>
        <div class="search">
            <div class="search-box">
                <input class="search-input"
                       ng-focus="hideSearchText=true"
                       ng-blur="onBlurInput()"
                       ng-model="search">
                <div class="search-text" ng-if="!hideSearchText">Поиск, скорее всего, не работает</div>
                <div class="laupe"></div>
            </div>
        </div>
    </div>

    <ui-view></ui-view>

    <a class="about-wrap" ng-click="goToAbout()">
        <div class="about-img"></div>
    </a>
</div>