@import '../../styles/vars'

.container
	position: relative
	font-family: $arial
	padding: 40px 5px 0
	text-align: center
	@include media-tablet
		padding: 60px 40px 0
	@include media-desktop
		padding: 80px 60px 0

.currency
	margin: 0 auto 40px
	&-select,&-label
		display: inline-block
		font-family: $arial
		font-size: $font-base
	@media (min-width: 600px)
		position: absolute
		top: 10px
		right: 30px
	@include media-tablet
		top: 20px
		right: 50px
	@include media-desktop
		top: 30px
		right: 70px

.head-wrap
	margin-bottom: 40px
	position: relative
	@media (min-width: 620px)
		height: 40px
	@include media-desktop
		margin-bottom: 60px

.head
	position: relative
	font-size: $font-h1-flex
	font-weight: bold
	padding: 0 10px
	margin-bottom: 40px
	@media (min-width: 600px)
		font-size: $font-h1
	@include media-desktop
		margin-bottom: 50px

.logo
	@include backgrnd('../imgs/logo.png', contain)
	height: 35px
	width: 300px
	display: inline-block
	margin-bottom: 40px
	@include media-tablet
		position: absolute
		left: 0

.search
	position: relative
	height: 34px
	width: 300px
	display: inline-block
	vertical-align: top
	@include media-tablet
		position: absolute
		right: 0

.search-input
	position: relative
	width: 253px
	height: 30px
	border-radius: 20px
	border: 0.5px solid $color-grey !important
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), inset -10px 0 6px rgb(255, 255, 255)
	vertical-align: top
	color: $color-grey
	font-size: 17px
	padding-left: 25px
	z-index: 10
	background: transparent

	&:focus
		outline: none


.search-box
	position: relative
	width: 275px
	height: 34px
	margin: 0 auto

.search-text
	display: inline
	width: 250px
	height: 20px
	text-align: left
	position: absolute
	top: 6px
	left: 25px
	color: #b3b3b3
	font-size: 17px
	z-index: 0
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

.laupe
	position: absolute
	top: 5px
	left: 5px
	@include backgrnd('../imgs/search.png', contain)
	height: 18px
	width: 19px

.preload
	font-family: $arial
	font-size: $font-base
	margin: 40px auto
	color: $color-grey

.about-wrap
	width: 300px
	display: block
	margin: auto

.about-img
	@include backgrnd('../imgs/bender.png', contain)
	height: 194px
	width: 300px
	margin: 60px auto 0 auto
	@include media-desktop
		margin-top: 100px